{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

<html>
<title>{% block title %} Add Employee {% endblock %}</title>
<head>

</head>

<body>
{% block content %}

<form action="{% url 'addemployee' %}" method="post">
    {% csrf_token %}
        <div class="card-header">
            <h4 style="color:Blue">ADD EMPLOYEE</h4>
            <hr style="border-color:Blue">
            <h2><span class="badge" style="color:Green">{{ save_message }}</span></h2>
            <div class="form-group row">
                {% for field in form %}
                <!-- Below code for populate list of company from Company model -->
                {% if field.name == 'company' %}
                    <div class="col-md-3 mb-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <select class="form-control" name="company" id="company">
                        <option id="company_0">Select Company</option>
                         {% for c in obj_Company %}
                          <option id="{{ c.id }}" value="{{c.name}}">{{ c.name }}</option>
                         {% endfor %}
                        </select>
                    </div>
                <!-- Below code for populate list of leave category from LeaveCategory model -->
                 {% elif field.name == 'leave_category' %}
                    <div class="col-md-3 mb-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <select class="form-control" id="leave_category" name="leave_category">
                        <option id="leave_category_0">Select Leave Category</option>
                         {% for lc in obj_LeaveCategory %}
                          <option name="{{ lc.name }}">{{ lc.name }}</option>
                         {% endfor %}
                        </select>
                    </div>
                <!-- Below code to pull leave entitlement from LeaveCategory model -->
                 {% elif field.name == 'single_day_entitlement' %}
                    <div class="col-md-3 mb-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <select class="form-control" id="single_day_entitlement" name="single_day_entitlement">
                         {% for lc in obj_LeaveCategory %}
                          <option name="{{ lc.name }}">{{ lc.single_day_entitlement }}</option>
                         {% endfor %}
                        </select>
                    </div>
                <!-- Below code to pull leave entitlement from LeaveCategory model -->
                 {% elif field.name == 'annual_entitlement' %}
                    <div class="col-md-3 mb-2">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        <select class="form-control" id="annual_entitlement" name="annual_entitlement">
                         {% for lc in obj_LeaveCategory %}
                          <option name="{{ lc.name }}">{{ lc.annual_entitlement }}</option>
                         {% endfor %}
                        </select>
                    </div>
                <!-- Below code for display rest of the field in AddEmployeeForm(ModelForm) -->
                {% else %}
                <div class="col-md-3 mb-2">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                 {{ field }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
             {% if save_message %}
            <button class="btn btn-primary btn-lg" type="submit">Close</button>
            {% else %}
            <button class="btn btn-primary btn-lg" type="submit" data-toggle="modal" data-target="#EmployeeDetailsForm">Save</button>
            {% endif %}
        </div>

    {% if form.errors %}
{% for error in field.errors %}

    <!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="EmployeeDetailsForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ADD NEW EMPLOYEE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


<script>
     $("#date_of_joining").datepicker({"dateFormat": "yy-mm-dd", changeMonth:true, changeYear:true,
        onClose: function () {
       }
    });
</script>
<script>
    var $leave_category = $( '#leave_category' ),
		$single_day_entitlement = $( '#single_day_entitlement' ),
        $annual_entitlement = $( '#annual_entitlement' ),
        $option1 = $single_day_entitlement.find( 'option' );
        $option2 = $annual_entitlement.find( 'option' );

$leave_category.on( 'change', function() {
	$single_day_entitlement.html( $option1.filter( '[name="' + this.value + '"]' ) );
  $annual_entitlement.html( $option2.filter( '[name="' + this.value + '"]' ) );
} ).trigger( 'change' );
</script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


<!--
<script>
$("#id_leave_category").change(function(){
if ($("#id_leave_category").val()=="M1"){
$("#id_single_day_entitlement").val(15);
$("#id_annual_entitlement").val(17);
}
else if ($("#id_leave_category").val()=="M2"){
$("#id_single_day_entitlement").val(15);
$("#id_annual_entitlement").val(15);
}
else if ($("#id_leave_category").val()=="M3"){
$("#id_single_day_entitlement").val(12);
$("#id_annual_entitlement").val(18);
}
else{
$("#id_single_day_entitlement").val(0);
$("#id_annual_entitlement").val(0);
}
});
</script>
-->


<!--
<div class="form-group row">

<div class="col-md-2 mb-2">
            <span class="input-text">Employee ID</span>
            <div class="form-control-plaintext">{{ form.empid }}</div>
</div>
<div class="col-md-4 mb-2">
            <span class="input-text">Name</span>
            <div class="form-control-plaintext">{{ form.name }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">Company</span>
            <div class="form-control-plaintext">{{ form.company }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">Designation</span>
            <div class="form-control-plaintext">{{ form.designation }}</div>
</div>
</div>

<div class="form-group row">

<div class="col-md-3 mb-2">
            <span class="input-text">Joining Date</span>
            <div class="form-control-plaintext">{{ form.date_of_joining }}</div>
</div>
<div class="col-md-2 mb-2">
            <span class="input-text">Work Location</span>
            <div class="form-control-plaintext">{{ form.work_location }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">Employee Setup</span>
            <div class="form-control-plaintext">{{ form.employee_setup }}</div>
</div>
<div class="col-md-4 mb-2">
            <span class="input-text">Email</span>
            <div class="form-control-plaintext">{{ form.email }}</div>
</div>
</div>

<div class="form-group row">

<div class="col-md-3 mb-2">
            <span class="input-text">Gender</span>
            <div class="form-control-plaintext">{{ form.gender }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">Marital Status</span>
            <div class="form-control-plaintext">{{ form.marital_status }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">User Type</span>
            <div class="form-control-plaintext">{{ form.user_type }}</div>
</div>
<div class="col-md-3 mb-2">
            <span class="input-text">Leave Category</span>
            <div class="form-control-plaintext">{{ form.leave_category }}</div>
</div>
</div>
<div class="form-group row">

<div class="col-md-2 mb-2">
            <span class="input-text">Manager ID</span>
            <div class="form-control-plaintext">{{ form.reporting_manager_empid }}</div>
</div>
<div class="col-md-4 mb-2">
            <span class="input-text">Manager Name</span>
            <div class="form-control-plaintext">{{ form.reporting_manager_name }}</div>
</div>
<div class="col-md-4 mb-2">
            <span class="input-text">Manager Email</span>
            <div class="form-control-plaintext">{{ form.reporting_manager_email }}</div>
</div>
<div class="col-md-2 mb-2">
            <span class="input-text">Employee Status</span>
            <div class="form-control-plaintext">{{ form.employee_status }}</div>
</div>
</div>
<button class="btn btn-primary btn-lg" type="submit">Save</button>
-->

</form>


{% endblock %}
</body>
</html>